/*--------------Scrollable-table CSS -----------------*/

.test-container{
	
}

.test-container .scrollableContainer {
    height: 310px;
    position: relative;
    padding-top: 35px;
    overflow: hidden;
}
.test-container .scrollableContainer .headerSpacer {
    border: 1px solid #d5d5d5;
    border-bottom-color: #bbb;
    position: absolute;
    height: 36px;
    top: 0;
    right: 0;
    left: 0;
    width:945px;
}
.test-container .scrollableContainer th .orderWrapper {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}
.test-container .scrollableContainer th .orderWrapper .order {
    font-size: 8pt;
    color: #BDBDBD;
}
.test-container  .scrollableContainer th .orderWrapper .active {
    color: #464646;
}

.test-container .scrollArea {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #d5d5d5;
    /*  the implementation of this is still quite buggy; specifically, it doesn't like the 
        absolutely positioned headers within 
    -webkit-overflow-scrolling: touch;  */
}
.test-container .scrollArea table {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    width: 100%;
    border: none;
    border-collapse: separate;
    border-spacing: 0 16px;
    padding-left: 2px;
    padding-right: 2px;
}

.test-container .scrollArea table th {
    padding: 0 !important;
    border: none !important;
    min-width: 40px;
}
.test-container .scrollArea table .th-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    height: 36px;
    line-height: 36px;
}

.test-container .scrollArea table th .box {
    padding: 0 8px;
    padding-right: 11px;    /*  order icon width*/
    border-left: 1px solid #ddd;
}

/*  to hack fix firefox border issue    */
@-moz-document url-prefix() {
    .scrollArea table th .box{
        border-right: 0px solid #ddd;
        border-left: none;
    }
}

.test-container .scrollArea table .th-inner .ng-scope {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.test-container .scrollArea table tr th:first-child th .box {
    border-left: none;
}
.test-container .scrollArea table .th-inner.condensed {
    padding: 0 3px;
}
.test-container .scrollArea table tbody tr td:first-child {
    border-left: none;
}
.test-container .scrollArea table tbody tr td:last-child {
    border-right: none;
}
.test-container .scrollArea table tbody tr:first-child td {
    border-top: none;
}
.test-container .scrollArea table tbody tr:last-child td {
    border-bottom: 2px solid #ddd;
}
.test-container .scrollArea table tbody tr td {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.test-container .scrollableContainer .scaler {
    position: absolute;
    top: 0px;
    width: 2px;
    height: 100%;
    background-color: #CFCFCF;
}

.test-container .scrollableContainer th .resize-rod {
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
    width: 4px;
    height: 100%;
}

.test-container .scrollable-resizing .scrollableContainer {
    cursor: col-resize;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



/*-----------------------------Connections CSS-----------------------------*/


/*-------------------------------------------------------------------------*/




.table_th1{
	border-bottom: 1px solid #7694b7;
	font-family: 'Source Sans Pro';
	font-weight:600;
	font-size: 14px;
	color: #7694b7;
	line-height: 18px;
	padding-bottom: 10px;
	padding: 5px
}

.connections_table_del_icon{
	background-image: url("../images/del_icon.png");
	background-repeat: no-repeat;
	background-position: center center;
    width: 12px;
    height:15px;
    cursor: pointer;
    margin-left: 15px;
	
}
.connections_table_edit_icon{
	background-image: url("../images/connections/small_edit_blue.png");
	background-repeat: no-repeat;
   	background-position: center center;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 26px;
}

.connections_table_view_icon{
	background-image: url("../images/connections/view_button.png");
	background-repeat: no-repeat;
   	background-position: center center;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 26px;
}

/* Ticket No. OP-135
* Issue: Broken links in Onpoint application
* Fix: Removed unused CSS
* Author: Bala 
*/

/* .table_edit_gray_icon{
	background-image: url("../images/edit_button_gray.png");
	background-repeat: no-repeat;
	padding-top: 36px;
    margin-top: 5px;
    text-align: center;
    margin-left: 8px;
} */
.table_container_scroll{
	height: 300px;
	overflow-y: auto;
}
.downward_arrow{
	background-image: url("../images/downward_arrow.png");
    background-repeat: no-repeat;
    float: left;
    height: 10px;
    margin: 5px 0 0 10px;
    width: 10px;
}


/*-------------------------------------------------------------------------------------------------------------------*/

.table_Offline_icon{
	background-image: url("../images/offline_red_dot.png");
	background-repeat: no-repeat;
	background-position: center center;
	width:12px;
	height:18px;
	margin-left: 11px;
}
.table_Online_icon{
	background-image: url("../images/online_green_dot.png");
	background-repeat: no-repeat;
	background-position: center center;
	width:12px;
	height:18px;
	margin-left: 11px;
}

.add_connection{
	width:25%;
	height: 40px;
	float: right;
	background-image: url("../images/connections/AddConnections_default.png");
	background-repeat: no-repeat;
	margin-right: 10px;
	display:inline;
}

/*Ticket 213
Desc:add connection button display a border after click and cancel
Fix: remove outline of the button
Author:Lei Song*/

.add_connection:FOCUS{
	outline:0;
}
	
.add_connection:hover{
	
	background-image: url("../images/connections/AddConnections_rollover.png");
	background-repeat: no-repeat;
}

.connectionHeader{		
	width: 20%; 		
	float: left; 		
	height: 40px; 		
	padding-left: 40px; 		
	text-align: left; 		
	color: #7694b7; 		
	font-family: 'Source Sans Pro';
	font-weight:600; 		
	font-size: 19px;		
}		
.createConnection{		
	float: left; 		
	height: 40px; 		
	padding: 5px 5px 0px 125px; 		
	color: rgb(162,162,162); 		
	font-family: 'Exo 2'; 		
	font-size: 16px;
	font-weight: 400;		
}		
.connectionCount{		
	padding: 5px 5px 5px 40px; 		
	width: 20%; 		
	text-align: left; 		
	color: rgb(129,129,129); 		
	font-family: 'Source Sans Pro'; 		
	font-size: 14px; 		
	font-weight: 600;		
}

.test-container .scrollArea {
	margin-top: 0px;
	height: 90%;
	border: 0px solid #d5d5d5;	    
 }
 .test-container .scrollArea table {		
    width: 99%;		
}
 .test-container .scrollArea table th {
 	min-width: 0px;
 }
 .test-container .scrollArea table th .box{
 	border-left: medium none;
border-right: 0px solid #ddd;
padding: 0px;
 }
 .test-container .scrollableContainer {
 	height: 525px;
   }
.test-container .scrollableContainer .headerSpacer {
	border-bottom-width: 2px;
  border-left-width: 0;
 	border-right-width: 0;
 	border-top-width: 0;
 }	   
 .test-container .scrollArea table tbody tr td{
 	 border-bottom: 0px solid #ddd;
 	 border-top: 0px solid #ddd;
 }
 .table_body_tr {
   width: 20px;
 }
 .table_edit_icon {
   width: 50px;
 }
 thead{
   border-bottom: 0px solid #7694b7;
 }
 tbody{
   border-bottom: 0px solid #7694b7;
 }
 .test-container .scrollArea table tbody tr:last-child td {
 	 border-bottom: 0px solid #ddd;
 }
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #E3E9F0;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
	background-color: transparent;
}
.table-striped > tbody {
 color: #7694b7;
  	 font-family: "Source Sans Pro";
  	 font-weight:400;
  	 font-size: 15px;
}

.test-container .scrollArea table .th-inner .ng-scope {		
	 text-align: left;
}

.test-container .scrollableContainer th .orderWrapper {
 top: 12px;
}

.test-container th:nth-child(3) .orderWrapper {
 right: 45px;
}
.test-container th:nth-child(4) .orderWrapper {
 right: 15px;
}
.test-container th:nth-child(5) .orderWrapper {
 right: 10px;
}
.test-container th:nth-child(6) .orderWrapper {
 right: 10px;
}
.test-container th:nth-child(7) .orderWrapper {
 right: 10px;
}
.test-container table.table .status {
 width:50px;
}

/*---------------------------------------------------*/